html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--red-hat-display);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--pale-blue);
  height: 100vh;
  position: relative;
}
